<h1 class="text-center m-3">Listing of all adverts</h1>

<div class="container">    
    <div class="card-columns">
        <% @articles.each do |article| %>
            <div class="card m-2">
                <div class="card-header font-italic">
                    by <strong><%= article.user.username %></strong> 
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
                    <p class="card-text"><%= simple_format(article.description) %></p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <%= link_to 'View', article_path(article), class: "btn btn-outline-success" %>
                        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-primary"  %>
                        <%= link_to 'Delete', article_path(article), class: "btn btn-outline-danger" , method: :delete, data: { confirm: "Are you sure?" } %>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <%=  %>
                    <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago </small>
                </div>
            </div>            
        <% end %>
    </div>
</div>
